<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css" />
	<link rel="stylesheet" href="../myui.css">
</head>

<body class = "dark">


<div class="pure-menu pure-menu-horizontal pure-menu-scrollable">
    <a href = "/" class="pure-menu-link pure-menu-heading">Stacks Of Wax</a>
    <ul class="pure-menu-list">
        <li class="pure-menu-item">
            <a href="/login" class="pure-menu-link">Sign-In</a>
       
        </li>
        <li class="pure-menu-item">
            <a href="/searchalbums" class="pure-menu-link">Search albums</a>
        </li>
		<li class="pure-menu-item">
            <a href="/searchuseralbums" class="pure-menu-link">Search user collections</a>
        </li>
        <li class="pure-menu-item">
            <a href="/home" class="pure-menu-link">Home</a>
        </li>
		</div>
        
<div class = "freespace">	
</div>
<div class = "addalbumbox">
<div class="pure-g centre">
    <div class="addauseralbum"></div>
    <form action="/addauseralbum" method="POST">
        <header>
            <h1><%= message %></h1>
        </header>

        <p>Your id is: <span><%= user.user_id %></span></p>
        <input type="hidden" name="userid" value="<%= user.user_id %>">

        <p>Custom Album name:
        </p>
        <input name="albumField">
        
        <p>Album description:
        </p>
        <div class = "textarea">
        <textarea name="descField">
        </textarea>
        </div>
        <div class = "freespace">	
        </div>
        <div class = "select">
        <select name = "genretypes">
           
            <% genreinfo['data'].forEach( (info)=>{   %>
                <% if (info.user_album_id !== null && info.user_album_id !== "") { %>
                <option value="<%= info.genre_id%>">"<%= info.name%>"</option>
                <% } %>
                <% }); %>
            
        </select>
        </div>
        <input type="submit" value="Add Album">

        </form>
        </div>
        <footer>
        
        </footer>

	</div>
    </div>



    
       


</body>

</html>