<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	
	<!-- links to load UI framework CSS-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css" />
	<link rel="stylesheet" href="myui.css">
</head>

<body class = "dark">
<!-- design your site here -->
<!-- everything goes into this div -->

<div class="pure-menu pure-menu-horizontal pure-menu-scrollable">
    <a class="pure-menu-link pure-menu-heading">Stacks Of Wax</a>
    <ul class="pure-menu-list">
        <li class="pure-menu-item">
            <a href="/" class="pure-menu-link">Sign-In</a>
       
        </li>
        <li class="pure-menu-item">
            <a href="/searchalbums" class="pure-menu-link">Search</a>
		</div>
	
	<!-- <li class="-icon">
		<a href="javascript:void(0);" onclick="topnav('myTopnav2')">&#9776;</a> -->
	</li>
</ul>

<div class="pure-g centre">
    <div class="pure-u-1 pure-u-md-1-2-text">
	<h1>Welcome to Stacks of Wax</h1>
	<p>A curated collection of some of the finest Albums to have ever been.</p>
	</div> 




<div class="pure-u-1 pure-u-md-1-2-text"> 
    
    <% albumdata['data'].forEach( (album)=>{   %>
    <header>
        <% album.custom_album_name  %>
      </header>
      <main>
        <p>
            <%= album.first_name %>  <%= album.last_name %>
        </p>
       
        <p>
                <%= album.album_desc %>
        </p>


        <p>
            This is a <%= album.name %> album
         </p>

         <p>This album has been upvoted <%= album.upvote_count %> times</p>
        
        <p>This is a <%= album.name %> album </p> 
        
         <p>

         This album contains the songs:
         
         <%= album.songtitle %> 
         </p>
      </main>
      <% }); %>
	</div>
</div>

</body>
</html>


   

               
            
       

    